*{
    box-sizing: border-box;
  }
  body{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    font-size: 1.15em; 
  }

.Link{
    text-decoration: none;
}

.Link:hover{
    font-weight: bold;
    font-size: 1.25em;
}


#header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5em;
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgrey;
}

#logo-icon{
    margin: auto 5%;
}


.header-links{    
    display: flex;
    justify-content: space-evenly;
    margin: auto 12%;
    width: 45%;  
}

.header-links a{
    color: black;
}



footer{
    padding: 0;
    height: 3.5em;
    border: 1px solid transparent;
  }
  
  footer p{
    width: 80%;
    font-size: .8em;
    margin: 2% 0 auto 2%;
  }


  
/*main section*/
#homepage{
  display: inline-block;
  width: 100%;
  padding: 0;
  margin-top: 15%;
}


/*first section*/
#first_section{    
  background-image: url("../../picture-assests/first_section.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 90vh;
  margin: 0;
  padding: 0;
  border: 1px solid lightgrey;
}

#first_section > header > h1{
  font-size: 1.3em;
  font-weight: bold;
  margin-left: 5%;
  padding: 1.5%;
}

#first_section > h2{
  font-size: 1.6em;
  margin: 15% 0 -2% 0;    
  text-align: center;
}

#first_section p{
  width: 60%;
  margin: 3% auto;
  font-size: 1.1em;
  text-align: center;
}

#first_section > button{
  display: block;
  margin: 4% auto 0 auto;
  padding: 1%;
  border: none;
  font-size: 1.1em;
}


/*features section*/
#features_section{
  display: grid;
  width: 100%;
  grid-template: 1fr / auto auto auto;
  grid-gap: 2em;
  padding: 5% 7%;
  margin: 2% 0;
  background-color: rgb(218, 218, 218);
}

#features_section section{
  background-color: white;    
  padding: 0;
  text-align: center;
}

#features_section section p{
  width: 80%;
  margin: 10% auto 4% auto;
  text-align: center;
}

#child_friendly div{
  width: 100%;
  
}

#clean_kitchen div {
  width: 100%;
  height: 16em;
}

#clean_office div{
  width: 100%;
  height: 45%;
}

/* living room section */
#living_room_section{
  display: grid;
  grid-template: 1fr / 1fr 1fr;
}

#clean_living_room{
  width: 100%;
  height: 25em;
}

#living_room_section div{
  border: 1px solid black;
  
}

#living_room_section p{
  width: 65%;
  height: 50%;
  margin: auto;
  text-align: center;
  padding: 6%;
}
 

@media screen and (max-width: 750px){
   
    footer{
        margin-bottom: -500%;
        bottom: 0;
      }

      
/*first section*/  
    #first_section{
      height: 75vh;
  }

  #first_section button{
      margin-top: 10%;
  }

  /*features section*/
  #features_section{
      grid-template: auto auto auto / 1fr;
  }

  #features_section section{
      width: 75%;
      margin: 0 auto;
  }


  /*living room section */
  #living_room_section{
      grid-template: 1fr 1fr / 1fr;
  }

  #clean_living_room{
      height: auto;
  }

  #living_room_section p{
      margin: 5% auto 0 auto;
  }
}
